doctype html
   
html
	head 
	title Admin Login
	body 
		span.h0s(style={color: 'black', 'font-size': '30px', 'tab-size': 12 }) <strong> Log in here: <strong>
	
		form(action="/adminlogin", method="post")
			div.input
				
				span.h1(style={color: 'black', 'font-size': '16px', 'tab-size': 12 }) <strong>Username<strong>
				input(type="text",name="username")
			
			div.input
				
				span.h2(style={color: 'black', 'font-size': '16px', 'tab-size': 12 }) <strong>Password<strong>
				input(type = "password", name = "password")

			div.actions
				input(type = "submit", name = "action", value = "login")
