doctype html

html 
	head
	
	link(rel = 'stylesheet' , href = '/css/bootstrap.min.css')
	link(rel = 'stylesheet' , href = '/css/styles.css')


		span.h0s(style={color: 'black', 'font-size': '30px', 'tab-size': 12 }) <strong> Create your CandyCoin Account: <strong>
		
		form(action = '/studentsignup', method = "post") 
			
			
			div.input
				span.h1(style={color: 'black', 'font-size': '16px', 'tab-size': 12 }) <strong>Username<strong>
				input(type = "text", name = "username" )

				
			div.input
				span.h2(style={color: 'black', 'font-size': '16px', 'tab-size': 12 }) <strong>Password<strong>
				input(type = "password" , name = "password")
				
			div.input
				span.h5(style={color: 'black', 'font-size': '16px', 'tab-size': 12 }) <strong>First Name<strong>
				input(type = "text" , name = "firstName")
				
			div.input
				span.h6(style={color: 'black', 'font-size': '16px', 'tab-size': 12 }) <strong>Last Name<strong>
				input(type = "text" , name = "lastName")
				
			div.input  
				span.h7(style={color: 'black', 'font-size': '16px', 'tab-size': 12 }) <strong>Phone Number<strong>
				input(type = "text" , name = "phoneno")
				
			div.input
				span.h8(style={color: 'black', 'font-size': '16px', 'tab-size': 12 }) <strong>Email<strong>
				input(type = "text" , name = "email") 
				
			div.actions
				input(class="btn btn-lg btn-secondary btn-block", type = "submit" , id="submitButton", value = "done")
